body {
  margin: 0px;	
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

ul{
	margin: 0px;
	padding: 0px;
}

#ar{
	width: 375px;
	height: 357px;
	background-image: url('../images/background/map.png');
	background-size:contain;
}

#get_list{
	width: 187px;
	height: 250px;
	border-right: 1px solid #fcc685;
	float: left;
}

#eat_list{
	width: 187px;
	height: 250px;
	float: left;
}

#get_food_list{
	width: 100%;
	height: 215px;
	overflow:auto;
}

#eat_food_list{
	width: 100%;
	height: 215px;
	overflow:auto;
}
body li:nth-child(even) { background-color:#ffffff; }
body li:nth-child(odd) { background-color:#ffe6c7; }

.food_title{
	width: 186px;
	padding-top: 5px;
	height: 30px;
	background: orange;
	color: white;  
	background-image:-moz-linear-gradient(
    top,
    #ffa035 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ffa035),
    to(#ff8300));
}