body {
  margin: 0px;
  width: 375px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  height: 44px;
  color: white;
}
/*
img {
    width: 408px;
    height: 512px;
}*/

#top{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    /*background: orange;*/
    color: white;
    background-image:-moz-linear-gradient(
    top,
    #ffa035 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ffa035),
    to(#ff8300));
}

#main{
    width: 100%;
    height: 540px;
    background: #fcddba;
  /*background-size: 100%;*/
}

#bottom{
    width: 100%;
    height: 66px;
    font-size: 18px;
    background-image:-moz-linear-gradient(
    top,
    #ffa035 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ffa035),
    to(#ff8300));
    text-align: center;
}



/*#date{
    width: 30%;
    height: 30px;
    padding-top: 10px;
    font-size: 20px;
    float: left;
}

#title{
    width: 60%;
    height: 100%;
    float: left;
}*/

/*#calorie{
    position: absolute;
    right: 150px;
    top: 150px;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
}*/

#circle{
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    width: 130px;
    height: 130px;
    border-radius:0 0 0 115px;
    font-size: 13px;
    background-image:-moz-linear-gradient(
    top,
    #ff4500 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ff4500),
    to(#ff8300));
  }

#food_table{
    width: 100%;
    height: 540px;
    background: orange;
}

#input_calorie{
    width: 124px;
    height: 44px;
    padding-top: 20px;
    border-right:solid 1px #fff;
    float: left;
}

#input_ar{
    width: 124px;
    height: 44px;
    padding-top: 20px;
    border-right:solid 1px #fff;
    float: left;
}

#input_other{
    width: 126px;
    height: 44px;
    padding-top: 20px;
    float: left;
}

.list_title{
    height: 30px;
    width: 100%;
    color: white;
    float: left;
    padding-top: 10px;
    background-image:-moz-linear-gradient(
    top,
    #ffa035 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ffa035),
    to(#ff8300));
}

#muscle_training_list{
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
    background: #fff;
    float: left;
}

#food_list{
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
    background: #fff;
    float: left;
}

.muscle_run{
    width: 100px;
    height: 66px;
    font-size: 18px;
    background-image:-moz-linear-gradient(
    top,
    #ffa035 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ffa035),
    to(#ff8300));
    text-align: center;
}

ul{
   padding-left: 0px;
   margin-top: 0px; 
}

body li:nth-child(even) { background-color:#ffffff; }
body li:nth-child(odd) { background-color:#ffe6c7; }

.food_title{
    width: 186px;
    padding-top: 5px;
    height: 30px;
    background: orange;
    color: white;
    background-image:-moz-linear-gradient(
    top,
    #ffa035 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ffa035),
    to(#ff8300));
}
