*{
    color:#222222;
    -webkit-box-sizing:border-box;
    -moz-sizing:border-box;
    box-sizing:border-box;
}

body{
  background: #ffddaa;
}

.container{
    min-width: 300px;
    margin:0px auto;
    padding:0px;
    background: #ffddaa;
}
.header *{
  margin: 0px auto;
  padding: 5px 10px;
  color: #eeeeee;
  background: #ffaa44;
}
#form01{
  margin: 0px auto;
  text-align: center;
  padding: 5px 0px;
}
