body {
  margin: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  padding-top: 20px;
  color: white;
}

img {
	width: 408px;
	height: 512px;
}

#top{
	width: 100%;
	height: 50px;
	padding-top: 10px;
	/*background: orange;*/
	color: white;
	background-image:-moz-linear-gradient(
    top,
    #ffa035 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ffa035),
    to(#ff8300));
}

#main{
	width: 100%;
	height: 550px;
	background: #fcddba;
  background-image: url('../images/background/beach.png');
  background-size: 100%;
}

#bottom{
	width: 100%;
	height: 66px;
	font-size: 18px;
	background-image:-moz-linear-gradient(
    top,
    #ffa035 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ffa035),
    to(#ff8300));
    text-align: center;
}



#date{
	width: 30%;
	height: 30px;
	padding-top: 10px;
	font-size: 20px;
	float: left;
}

#title{
	width: 60%;
	height: 100%;
	float: left;
}

#calorie{
	position: absolute;
    right: 150px;
    top: 150px;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
}

#circle{
	position: absolute;
    right: -125px;
    top: -125px;
    /*background-color: orange;*/
    color: white;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 125px;/* width,heightの半分 */
	-moz-border-radius: 125px;
	border-radius: 125px;
    font-size: 13px;
    background-image:-moz-linear-gradient(
    top,
    #ff4500 0%,
    #ff8300);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#ff4500),
    to(#ff8300));
}

#input_calorie{
	width: 33%;
	height: 100%;
	float: left;
}

#input_ar{
	width: 33%;
	height: 100%;
	float: left;
}

#input_other{
	width: 34%;
	height: 100%;
	float: left;
}
